<a href="https://colab.research.google.com/github/nikitasinaga/Algoritma-Nikita/blob/main/NIKITA%20RACHELENA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

print("Hello World")

Hello World

In [ ]:
#proses memasukan data ke dalam variabel
nama = "John Doe"
#proses mencetak variabel
print(nama)
#nilai dan tipe data dalam variabel dapat diubah
umur = 20 #nilai awal
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
umur = "dua puluh satu" #nilai setelah diubah
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
umur = 22
hobi = "Berenang"
print("Biodata\n", nama, "\n", umur, "\n", hobi)
#contoh variabel lainya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye"
panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

John Doe
20
dua puluh satu
Biodata
 Budi Susanto
 22
 Berenang
50

In [ ]:
S = input("Masukkan kalimat: ") #(1)
print("Anda memasuk kan kalimat: " + S) #(2)
N = int(input("Masukkan sebuah angka: ")) # (3)
print("Jika angka Anda ditambah 5, hasilnya: " + str(N + 5)) #(4)

Masukkan kalimat: ALGORITMA
Anda memasuk kan kalimat: ALGORITMA
Masukkan sebuah angka: 8
Jika angka Anda ditambah 5, hasilnya: 13

In [ ]:
#tipe data Boolean
print(True)
#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')
#tipe data Integer
print(20)
#tipe data Float
print(3.14)
#tipe data Hexadecimal
print(0x9a) # Perbaikan: menambahkan awalan 0x
#tipe data Complex
print(5j)
#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])
#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))
#tipe data Dictionary
print({"nama":"Budi", 'umur':20})
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data
#Dictionary
print(type(biodata)) #fungsi untuk mengecek jenis tipe data. akan tampil yang berarti dict adalah tipe data dictionary

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
154
5j
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}
<class 'dict'>

In [ ]:
#Konversi Integer ke Float
x = float(5)
print(x)
#Konversi Float ke Integer
x = int(5.6)
print(x)
#Konversi nilai ke String
x = str(9)
print(x)
#Konversi kumpulan data ke Set, Tuple, dan List
x = set([1, 2, 3])
y = tuple({5, 6, 7})
z = list(("hello"))
print(x)
print(y)
print(z)

5.0
5
9
{1, 2, 3}
(5, 6, 7)
['h', 'e', 'l', 'l', 'o']

In [ ]:
x = 8
y = 2
result = x + y
print(result)

10

In [ ]:
# Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9
buah = apel + jeruk # Menjumlahkan jumlah apel dan jeruk
print(f"Jumlah buah: {buah}")
# Pengurangan
hutang = 10000
bayar = 5000
sisa_hutang = hutang - bayar # Menghitung sisa hutang
print(f"Sisa hutang Anda adalah {sisa_hutang}")
# Perkalian
panjang = 15
lebar = 8
luas = panjang * lebar # Menghitung luas persegi panjang
print(f"Luas persegi panjang: {luas}")
# Pembagian
kue = 16
anak = 4
kue_per_anak = kue / anak # Menghitung bagian kue per anak
print(f"Setiap anak akan mendapatkan bagian kue sebanyak {kue_per_anak}")
# Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2 # Menghitung sisa bagi
print(f"Sisa bagi dari bilangan {bilangan1} dan {bilangan2} adalah {hasil}")
# Pangkat
bilangan3 = 8
bilangan4 = 2
hasil_pangkat = bilangan3 ** bilangan4 # Menghitung hasil pangkat
print(f"Hasil pangkat: {hasil_pangkat}")
# Pembagian Bulat
print(10 // 3)
# 10 dibagi 3 adalah 3.3333. Karena dibulatkan maka akan menghasilkan nilai 3

15
Jumlah buah: 16
Sisa hutang Anda adalah 5000
Luas persegi panjang: 120
Setiap anak akan mendapatkan bagian kue sebanyak 4.0
Sisa bagi dari bilangan 14 dan 5 adalah 4
Hasil pangkat: 64
3

In [ ]:
# SAMA DENGAN
print(1 == 1) # Hasilnya akan bernilai True karena satu sama dengan satu
print(1 == 2) # Hasilnya akan bernilai False karena satu tidak sama dengan dua
# TIDAK SAMA DENGAN
print(2 != 2) # Hasilnya akan bernilai False karena dua seharusnya sama dengan dua
print(2 != 3) # Hasilnya akan bernilai True karena dua tidak sama dengan tiga

# LEBIH BESAR DARI
print(5 > 3) # Hasilnya akan bernilai True karena lima lebih besar dari tiga
# LEBIH KECIL DARI
print(5 < 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari tiga
# LEBIH BESAR DARI SAMA DENGAN
print(5 >= 3) # Hasilnya akan bernilai True karena lima lebih besar dari sama dengan tiga
# LEBIH KECIL DARI SAMA DENGAN
print(5 <= 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari sama dengan tiga

True
False
False
True
True
False
True
False

In [ ]:
#Soal 1
s = float(input("masukan panjang sisi persegi : "))
luasPersegi = s*s
print("jadi luas persegi adalah", luasPersegi)

masukan panjang sisi persegi : 2.5
jadi luas persegi adalah 6.25

In [ ]:
#Soal 2
nama = str (input ("masukkan nama : "))
nim = str (input("masukkan nim : "))
fakultas = str (input("masukkan fakultas : "))
jurusan = str (input("masukkan jurusan : "))
KotaAsal = str (input("masukkan Kota Asal : "))
Alamat = str (input("masukkan Alamat : "))
print(nama)
print(nim)
print(fakultas)
print(jurusan)
print(KotaAsal)
print(Alamat)

masukkan nama : Nikita Rachelena Sinaga
masukkan nim : 2c1240056
masukkan fakultas : Sains dan Teknologi
masukkan jurusan : Agribisnis
masukkan Kota Asal : Sumatera Barat, kab Dharmasraya
masukkan Alamat : Pusdiklat Gerkopin, Cikeruh
Nikita Rachelena Sinaga
2c1240056
Sains dan Teknologi
Agribisnis
Sumatera Barat, kab Dharmasraya
Pusdiklat Gerkopin, Cikeruh