<a href="https://colab.research.google.com/github/nikitasinaga/Algoritma-Nikita/blob/main/Nikita%20Sinaga.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def lagu_anak_ayam_for(n):
    for i in range(n, 0, -1):
        if i > 1:
            print(f"Anak ayam turunlah {i}, mati satu tinggallah {i-1}")
        else:
            print(f"Anak ayam turunlah {i}, mati satu tinggal induknya")

# Contoh pemanggilan fungsi
lagu_anak_ayam_for(5)

Anak ayam turunlah 5, mati satu tinggallah 4
Anak ayam turunlah 4, mati satu tinggallah 3
Anak ayam turunlah 3, mati satu tinggallah 2
Anak ayam turunlah 2, mati satu tinggallah 1
Anak ayam turunlah 1, mati satu tinggal induknya

In [ ]:
def lagu_anak_ayam_while(n):
    while n > 0:
        if n > 1:
            print(f"Anak ayam turunlah {n}, mati satu tinggallah {n-1}")
        else:
            print(f"Anak ayam turunlah {n}, mati satu tinggal induknya")
        n -= 1

# Contoh pemanggilan fungsi
lagu_anak_ayam_while(5)

Anak ayam turunlah 5, mati satu tinggallah 4
Anak ayam turunlah 4, mati satu tinggallah 3
Anak ayam turunlah 3, mati satu tinggallah 2
Anak ayam turunlah 2, mati satu tinggallah 1
Anak ayam turunlah 1, mati satu tinggal induknya

In [ ]:
def lagu_anak_ayam_format(n):
    for i in range(n, 0, -1):
        print(f"Anak ayam turunlah {i}, mati satu tinggallah {i-1 if i > 1 else 'induknya'}")

# Contoh pemanggilan fungsi
lagu_anak_ayam_format(5)

Anak ayam turunlah 5, mati satu tinggallah 4
Anak ayam turunlah 4, mati satu tinggallah 3
Anak ayam turunlah 3, mati satu tinggallah 2
Anak ayam turunlah 2, mati satu tinggallah 1
Anak ayam turunlah 1, mati satu tinggallah induknya

In [ ]:
#menghitung kelipatan 5
jumlah_kelipatan_5 = 0
N=100
for i in range(1, 101):
    if i % 5 == 0:
        jumlah_kelipatan_5 += i
        print(i)
print("jumlah kelipatan 5 antara 1 s.d.N adalah" (i+5)*20/2)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

<>:8: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:8: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<ipython-input-6-5badaf0d9a65>:8: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("jumlah kelipatan 5 antara 1 s.d.N adalah" (i+5)*20/2)

TypeError: 'str' object is not callable