<a href="https://colab.research.google.com/github/nikitasinaga/Algoritma-Nikita/blob/main/Nikita_Rachelena_P8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40]
print(arr)

[10, 20, 30, 40]

In [ ]:
list_numbers = [1, 2, 3, 4, 5]
list_numbers

[1, 2, 3, 4, 5]

In [ ]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
list_numbers[0]

100

**MENDEKLARASIKAN ARRAY**

In [ ]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [ ]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
arr

[1, 2, 3, 4, 5]

In [ ]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [ ]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [ ]:
arr = [30,45,10,20,12,7,19,13,17,2,10,27,5,29]

nilai_maks = max(arr)
print(nilai_maks)
print("jadi rata rata nilai maksimum arr adalah", nilai_maks)

nilai_min =min(arr)
print(nilai_min)
print("jadi nilai minimun arr adalah", nilai_min)

penjumlahan = sum(arr)
print(penjumlahan)
print("hasil penjumlahan seluruh elemen arr adalah", penjumlahan)

jumlah_arr = len(arr)
print(jumlah_arr)
print("jadi jumlah seluruh elemen arr adalah" , jumlah_arr)

rata_rata = sum(arr)/len(arr)
print(rata_rata)
print("jadi rata rata seluruh elemen arr adalah", rata_rata)

45
jadi rata rata nilai maksimum arr adalah 45
2
jadi nilai minimun arr adalah 2
246
hasil penjumlahan seluruh elemen arr adalah 246
14
jadi jumlah seluruh elemen arr adalah 14
17.571428571428573
jadi rata rata seluruh elemen arr adalah 17.571428571428573

In [ ]:
T1 = [9,12,30,-1,0,4,-1,3,30,14]
nilai_terbesar_T1 = max(T1)
print("nilai_terbesar dari T1 adalah", nilai_terbesar)

nilai_terkecil_T1= min(T1)
print("nilai_terkecil dari T1 adalah", nilai_terkecil)


T2 = [1,3,5,8,-12,90,3,5]
nilai_terbesar_T2 = max(T2)
print("nilai_terbesar dari T2 adalah", nilai_terbesar)

nilai_terkecil_T2 = min(T2)
print("nilai_terkecil dari T2 adalah", nilai_terkecil)

nilai_terbesar dari T1 adalah 90
nilai_terkecil dari T1 adalah -12
nilai_terbesar dari T2 adalah 90
nilai_terkecil dari T2 adalah -12