<a href="https://colab.research.google.com/github/nikitasinaga/Algoritma-Nikita/blob/main/Nikita_Rachelena_P8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40]

In [ ]:
list_numbers = [1, 2, 3, 4, 5]

In [ ]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100

**MENDEKLARASIKAN ARRAY**

In [ ]:
arr = [1, 2, 3, 4, 5]

In [ ]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda

In [ ]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0

In [ ]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150